doctype html
html 
    head
    
        title Title
        link(href='./css/style.css' rel='stylesheet')
    body
        nav
            a(href='/') Home 
            br
            a(href='/kokeilu') Testi
        block content
        
        script(src='./js/main.js')